*.swp
BlockyVoyages.v11.suo
BlockyVoyages.opensdf
BlockyVoyages.sdf

Debug/
Release/

BlockyVoyages/Debug/
BlockyVoyages/Release/

freetype-2.5.0.1/objs/win32/
freetype-2.5.0.1/objs/debug/
freetype-2.5.0.1/objs/release/

lpng163/projects/vstudio/zlib/Release/
lpng163/projects/vstudio/zlib/Debug/

ipch/

**/*.bak

BlockyVoyages/Logs/
BlockyVoyages/BlockyVoyages_old.cpp
/.vs/BlockyVoyages/FileContentIndex
